.contacts {
  align-self: start;

  &__title {
    font-size: 32px;
    margin: 32px 0 40px;
  }

  &__list {
    width: 340px;
    margin: 0 auto;
  }

  &__line {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 539px) {
  .contacts {
    &__title {
      font-size: 24px;
      margin: 32px 0 20px;
    }
  }
}

@media screen and (max-width: 429px) {
  .contacts {
    &__title {
      font-size: 18px;
    }

    &__line {
      font-size: 14px;
    }
  }
}
