// SOCIAL MEDIA COLORS
$vkColor: #4680c2;
$fbColor: #1877f2;
$twColor: #1da1f2;
$okColor: #f7931e;

// SHADOWS
$primaryBoxShadow: 0 2px 8px 0 #e7eafa;
$insetBoxShadow: inset 0 2px 8px -5px #e7eafa;
$flightPreviewBoxShadow: 0 0 27px -5px #bbc1c7;

// АКТУАЛЬНЫЕ ЦВЕТА В ПРОЕКТЕ
$mainBackColor: #073042;
