.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header {
        &__logo {
            width: 200px;
            height: 56.4px;
        }
    }
}
