@import '../../../style/scss/variables/vars';

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $greyLine;
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__logo {
      width: 200px;
      height: 56.4px;
    }
  }
}

@media screen and (max-width: 659px) {
  .header {
    &__container {
      flex-direction: column;
      padding-bottom: 10px;
    }

    &__logo {
      width: 275px;
      height: 77.59px;
    }
  }
}
