@import '../../style/scss/variables/vars';

.about {
  width: 100%;
  align-self: start;

  &__container {
    padding: 10px 0;
    display: flex;
    gap: 50px;
  }

  &__photo {
    height: 800px;
    width: 380px;
    object-fit: cover;
    object-position: center;
  }

  &__info {
    text-align: left;

    p {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 20px;

      &:last-of-type {
        margin: 32px 0 0 0;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
        border: 1px solid $greyLine;
        padding: 10px;
      }

      span {
        text-decoration: underline;
        line-height: 30px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    &__photo {
      height: 650px;
      width: 300px;
    }
  }
}

@media screen and (max-width: 799px) {
  .about {
    &__container {
      gap: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  .about {
    &__container {
      flex-direction: column;
      gap: 20px;
    }

    &__photo {
      height: 500px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .about {
    &__info {
      p {
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 16px;

        &:last-of-type {
          margin: 22px 0 0 0;
          font-size: 14px;
          line-height: 20px;
        }

        span {
          text-decoration: underline;
          line-height: 30px;
        }
      }
    }
  }
}
