.navigation {
  &__menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__link {
    transition: 0.3s linear;
    color: #91d7e3;

    &:visited {
      color: #91d7e3;
    }

    &:hover {
      opacity: 0.7;
    }

    &_active {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 825px) {
  .navigation {
    &__link {
      font-size: 14px;
    }
  }
}
