.navigation {
    &__menu {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    &__link {
        margin-left: 10px;
        transition: 0.3s linear;

        &:visited {
            color: white;
        }

        &:hover {
            color: rgb(194, 190, 190);
        }

        &_active {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        &__link {
            font-size: 14px;
        }
    }
}
