.notfound {
  width: 1024;
  height: 627px;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media screen and (max-width: 1023px) {
  .notfound {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .notfound {
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .notfound {
    height: 300px;
  }
}
